* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.row + .row {
  margin-top: 16px;
}
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.lum {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-family: "Source Sans Pro", sans-serif;

  /* Animation combinée */
  animation: reveal 7s ease-in-out infinite, glow 2.5s linear infinite;
}

/* Animation du texte révélant */
@keyframes reveal {
  0% {
    background-size: 50% 50%;
  }
  80% {
    letter-spacing: 3px;
    background-size: 300% 300%; /* Agrandit l'effet */
  }
  100% {
    background-size: 50% 50%; /* Retour à l'état initial */
  }
}

/* Animation de l'effet lumineux */
@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 0px #fff;
  }
  0%,
  100% {
    text-shadow: 0 0 0px #fff; /* Pas de glow au début/fin */
  }
  40% {
    text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 32px #fff; /* Intensité du glow */
  }
}
.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
}
@import "bootstrap/scss/bootstrap-grid";

.imgbouteilles {
  position: absolute;
  margin-top: -51%;
}

.headergauche {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  color: #fff;
}
.headerdroite {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  color: #fff;
}

.header {
  display: flex;
  width: 100%;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  gap: 105px;
  flex-shrink: 0;
  border-radius: 30px 10px 30px 30px;
  border: 1px solid var(--white, #fff);
}

body {
  background-color: #d7d7d7;
}

h1 {
  color: var(--white, #fff);
  text-align: center;
  text-shadow: 0px 0px 74px #000;
  font-family: "Encode Sans Expanded";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  width: 100%;
  height: 257px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 30px 10px 30px 30px;
  border: 1px solid var(--white, #fff);
  margin-top: 297px;
}

.sous-titre {
  margin-top: 36px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  height: 24px;
  align-self: stretch;
  display: flex;
  width: 100%;
  height: 68px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 30px 10px 30px 30px;
  border: 1px solid var(--white, #fff);
  background: var(--fond-sous-titre, rgba(255, 255, 255, 0.15));
}
.premiertitreclasse {
  margin-bottom: 667px;
  margin-top: 30%;
}
.titreclasse {
  display: flex;
  height: 112px;
  padding: 7px 10px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px 10px 30px 30px;
  border: 2px solid var(--black, #000);
}
.background-video {
  position: absolute; /* Place la vidéo derrière le texte */
  top: 0;
  left: 0;
  width: 100%; /* Prend toute la largeur */
  height: 100%; /* Prend toute la hauteur */
  object-fit: cover; /* La vidéo couvre toute la zone sans déformation */
  z-index: -1; /* Place la vidéo derrière tout le contenu */
}
.image {
  position: absolute;
  top: 90%;
  margin-left: -10%;
  width: 955px;
  height: 1090px;
  flex-shrink: 0;
}
.petittitre {
  color: var(--black, #000);
  text-align: center;
  font-family: "Encode Sans Expanded";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.Titre {
  color: var(--black, #000);
  text-align: center;
  font-family: "Encode Sans Expanded";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.card {
  display: flex;
  width: 451px;
  height: 334px;
  padding: 0px 10px;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  flex-shrink: 0;
  border-radius: 0px 20px 20px 20px;
}
.titrecard {
  color: var(--black, #000);
  text-align: center;
  font-family: "Encode Sans Expanded";
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
  height: 96px;
  display: flex;
  justify-content: center;
}
.textcard {
  color: var(--black, #000);
  text-align: center;
  align-self: stretch;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

button {
  display: flex;
  padding: 0px 10px;
  align-items: center;
  width: 197px;
  height: 50px;
  justify-content: center;
  gap: 64px;
  border-radius: 30px 10px 30px 30px;
  border: 1px solid var(--vert, #556854);
  color: var(--vert, #556854);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
}

.textcard1 {
  display: flex;
  width: 732px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  color: var(--black, #000);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

// FOOTER //

.miniinfo {
  display: flex;
  width: 260px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.petittitrefooter {
  color: var(--black, #000);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-start;
}
.adressep {
  color: var(--black, #000);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

i {
  color: var(--vert, #556854);
  font-family: "Font Awesome 6 Free";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.phonetel {
  color: var(--black, #000);

  /* footer */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.debutfooter {
  background: var(--info-footer-top, #bebebe);
}

.logofooter {
  height: 52px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  margin-left: 25%;
}

.buttonlangue p {
  color: var(--black, #000);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  border-radius: 30px 15px 30px 30px;
  border: 1px solid var(--black, #000);
  display: flex;
  width: 76px;
  height: 31px;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.footer2 {
  display: flex;
  width: 724px;
  justify-content: space-between;
  align-items: center;
  margin: 27px;
}

.reseaux {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  align-self: stretch;
}

.premier {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.premier .petittitrefooter {
  color: var(--black, #000);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}

.footer3 {
  display: flex;
  align-items: center;
  gap: 26px;
  align-self: stretch;
}

.buttonInside {
  position: relative;
  margin-bottom: 10px;
}
#container {
  width: 200px;
}
input {
  height: 25px;
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}
button {
  right: 0px;
  top: 4px;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  outline: none;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}
button:hover {
  cursor: pointer;
}
#help {
  display: none;
  font-style: italic;
  font-size: 0.8em;
}

.rond {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.gault {
  height: 27px;
  align-self: stretch;
  scale: 90%;
}

.horaire {
  color: var(--black, #000);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.degust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 163px;
}

.background1 {
  background: var(--blanc-cass-footer, #dfdfdf);
  display: flex;
  width: 261px;
  height: 261px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 73px;
}

.background2 {
  display: flex;
  width: 261px;
  height: 261px;
  padding-top: 76px;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  background: var(--blanc-cass-footer, #dfdfdf);
}

.background3 {
  display: flex;
  width: 261px;
  height: 261px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  background: var(--blanc-cass-footer, #dfdfdf);
}
.background4 {
  display: flex;
  width: 261px;
  height: 261px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--blanc-cass-footer, #dfdfdf);
}

.finfooter {
  color: var(--black, #000);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  display: flex;
  align-items: center;
  gap: 188px;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 34px;
}

.containerfooter {
  gap: 27px;
  flex-shrink: 0;
  margin-top: 200px;
}
